* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #000000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.logo {
  margin-left: 15px;
}

.logo img {
  width: 90px;
  background-size: cover;
}
.navLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.navLinks a {
  text-decoration: none;
  color: #c9c6c6;
  cursor: pointer;
  transition: all ease 0.2s;
}
.navLinks a:hover {
  text-shadow: 5px 0px 5px rgb(231, 217, 220);
}
.nav button {
  padding: 14px 24px;
  border-radius: 14px;
  font-size: 15px;
  border: 2px solid #000;
  background-color: #131313;
  color: #c9c6c6;
  margin-right: 15px;
  transition: all ease 0.2s;
  cursor: pointer;
}
.nav button:hover {
  transform: scale(1.12);
  border: 2px solid rgb(179, 169, 169);
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}
.hero h1 {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 110px;
  line-height: 1;
  letter-spacing: -4px;
}
.heroLinks {
  display: flex;
  gap: 10px;
}
.heroLinks a {
  text-decoration: none;
  color: #ffffff;
  padding: 6px 10px;
  background-color: #131313;
  border-radius: 12px;
  transition: all ease 0.5s;
}
.heroLinks a:hover {
  background-color: #fd4809;
}
.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 370px;
  height: 420px;
  border: none;
  border-radius: 28px;
  background: #0b0b0b;
  border-radius: 25px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-title {
  padding: 6px 10px;
  background-color: #5c1d09;
  border-radius: 12px;
  position: absolute;
  top: 270px;
  left: 20px;
  font-size: 13px;
  color: #ff8a5c;
}
.desc {
  color: white;
  width: 85%;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 500;
  position: absolute;
  top: 315px;
  left: 20px;
}
.date {
  position: absolute;
  bottom: 15px;
  left: 20px;
  font-size: 12px;
  color: #2b2a2a;
}
