@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left, #7c114c 0%, #14002f 35%),
    linear-gradient(135deg, #09001d 0%, #17003d 45%, #350056 100%);

  overflow-x: hidden;
  padding: 50px 40px;
}

.explore-section {
  width: 100%;
  max-width: 1320px;
}

.top-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.top-bar h2 {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.top-bar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.8;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  height: 330px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 28px;
  padding: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
}

.img-box {
  width: 100%;
  height: 190px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  display: block;
}

.card-info {
  width: 100%;
  margin-top: 18px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.info-row h3 {
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.info-row span {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
}

button {
  width: 100%;
  height: 48px;
  border-radius: 40px;
  border: 2px solid #c46cff;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #b54cff;
  box-shadow: 0 0 18px rgba(197, 108, 255, 0.6);
}

@media (max-width: 768px) {
  body {
    padding: 30px 20px;
  }

  .top-bar h2 {
    font-size: 24px;
  }

  .cards-wrapper {
    gap: 25px;
  }

  .card {
    width: 100%;
    max-width: 320px;
  }
}
